################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Shopping/.vs/Shopping/FileContentIndex/1f3c894b-7189-4cde-be75-f0765c46a777.vsidx
