################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Shopping/.vs/Shopping/FileContentIndex/1f3c894b-7189-4cde-be75-f0765c46a777.vsidx
/Shopping/.vs/Shopping/FileContentIndex/51f88734-2f3b-4b00-8363-61e25c13040b.vsidx
/Shopping/.vs/Shopping/FileContentIndex/8e7c1d24-984f-4b28-b574-8d58a62cd906.vsidx
/Shopping/.vs/Shopping/FileContentIndex/ad42758d-0209-419f-971b-f5c3587b4011.vsidx
/Shopping/.vs/Shopping/FileContentIndex/b00bfc13-b52e-4bae-b5b6-fd9155338e37.vsidx
/Shopping/.vs/Shopping/FileContentIndex/5f996a5f-8a2e-4223-9128-4032e8b0c7a3.vsidx
/Shopping/.vs/Shopping/FileContentIndex/6baa5964-de90-4136-a2ea-086f3d59ef40.vsidx
/Shopping/.vs/Shopping/FileContentIndex/cf3492c0-7d92-4936-9d0e-71a802e28fc8.vsidx
/Shopping/.vs/Shopping/FileContentIndex/d3ea17a3-6788-42a4-83a2-efa3d41707aa.vsidx
